<div class="depot_form">
  <%= form_with(model: user, local: true) do |form| %>
    <% if user.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= raw t('errors.template.header', count: user.errors.count, model: t('activerecord.models.user')) %>
        </h2>
        <p>
          <%= t('errors.template.body') %>
        </p>
        <ul>
          <% user.errors.full_messages.each do |message| %>
            <li><%= raw message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <h2>Enter User Details</h2>
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, size: 40 %>
    </div>
    <div class="field">
      <%= form.label :email %>
      <%= form.text_field :email %>
    </div>
    Addresses:
    <ul>
      <%= form.fields_for :address do |addresses_form| %>
        <li>
          <%= addresses_form.label :state %>
          <%= addresses_form.text_field :state %>
          <%= addresses_form.label :city %>
          <%= addresses_form.text_field :city %>
          <%= addresses_form.label :country %>
          <%= addresses_form.text_field :country %>
          <%= addresses_form.label :pincode %>
          <%= addresses_form.number_field :pincode, in: 100000..999999 %>
        </li>
      <% end %>
    </ul>
    <div class="field">
      <%= form.label :password %>
      <%= form.password_field :password, size: 40 %>
    </div>
    <div class="field">
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation, id: :user_password_confirmation, size: 40 %>
    </div>
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</div>
