<% @line_items.each_with_index do |line_item, index| %>
  <h3>Line Item#<%= ( @page_number * 5) + index + 1 %></h3>
  <br>
  product: <%= line_item.product.title %>
  <br>
  quantity: <%= line_item.quantity %>
  <br>
  order_id: <%= line_item.order_id %>
  <br>
  <br>
<% end %>
<% if @page_number > 0 %>
  <%= link_to "Previous line items", "line_items?page_number=#{@page_number - 1}", method: :get %>
<% end %>
<%= link_to "Next line items", "line_items?page_number=#{@page_number + 1}", method: :get %>
