<%= form_with model: product, multipart: true do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%=raw t('errors.template.header', count: @product.errors.count, 
        model: t('activerecord.models.product')) %>.
      </h2>
      <p><%= t('errors.template.body') %></p>
      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%=raw message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>
  <div class="field">
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description, rows: 10, cols: 60 %>
  </div>
  <div class="field">
    <%= form.label :image_url, style: "display: block" %>
    <%= form.text_field :image_url %>
  </div>
  <%= form.fields_for :images, multipart: true do |images_form| %>
    <%= images_form.label :image, "Upload images", style: "display: block" %>
    <%= images_form.file_field :image, multiple: true %>
  <% end %>
  <div class="field">
    <%= form.label :price, style: "display: block" %>
    <%= form.text_field :price %>
  </div>
  <div class="field">
    <%= form.label :enabled , style: "display: inline" %>
    <%= form.check_box :enabled %>
  </div>
  <div class="field">
    <%= form.label :discount_price, style: "display: block" %>
    <%= form.text_field :discount_price %>
  </div>
  <div class="field">
    <%= form.label :permalink, style: "display: block" %>
    <%= form.text_field :permalink %>
  </div>
  <div class="field">
    <%= form.label :category_id, style: "display: block" %>
    <%= form.collection_select :category_id, Category.order(:name), :id, :name, { include_blank: 'Select one' } %>
  </div>
  <br>
  <br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
